.Notes form {
  margin-top: 15px;
  padding-bottom: 15px;
}

.Notes form input {
  font-size: 18px;
  font-family: monospace;
}

.Notes form textarea {
  height: 300px;
  font-size: 18px;
  font-family: monospace;
}

.Notes .form-group {
  text-align: left;
}
